<link rel="stylesheet" href="{{ themePath }}/antd.min.css">
<link rel="stylesheet" href="{{ themePath }}/antd-theme.css">
<form>
    <slot></slot>
    <slot name="fields"></slot>
    <slot name="buttons"></slot>
</form>